.footer-container {
    color: var(--secondary-text);
    background: var(--elements);
}

.footer-container a {
    color: var(--secondary-text);
}

.footer {
    padding: .75em 0 3em 0;
}

.footer h3 {
    font-size: 1.25em;
    font-weight: 400;

}

.footer p {
    font-size: .85em;
    margin: 4px 0;
}

.footer a {
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid var(--secondary-text);
}

.developed {
    display: flex;
    justify-content: center;
    font-size: .7em;
    font-weight: 300;
    padding-bottom: 2em;
    margin: 0;
}

.developed a {
    padding-left: .5em;
}